email      = "john.smith@example.com"
password   = "super secret master password"
secret_key = "A3-XXXXXX-XXXXXXX-XXXXX-XXXXX-XXXXX-XXXXX"
subdomain  = "company"
target_email = "another.user@example.com"